<link rel="stylesheet" href="~/css/Account.css">
<body class="containermain">
    <div class="">
        <br>

        <div class="ImagePhon">
            <img src="Images/i.png" width="600px" height="350px" class="ImagePhon">

        </div>
    </div>
    <div class="wrap">
        <div class="settings__header">
            <div class="settings__header__text">Заказы</div>
        </div>
        <div class="settings-body-items">
            <div class="settings-body-items-left">

                <a class="button-settings">Заказ номер:</a>
                <a class="button-settings">Тип работы:</a>
                <a class="button-settings">Описание работы:</a>
                <a class="button-settings">Статус работы:</a>
                <a class="button-settings">Стоимость работы:</a>
            </div>

        </div>


    </div>
    </div>
</body>