@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Main.css">
<body class="containermain">
    <div class="">
        <br>
        <div>
            <a id="logoname"><font size="20" color="White" face="">4H1M3</font></a>
        </div>
        <div class="settings__header__text"></div>
        <div class="ImagePhon">
            <img style="margin-top: 20px;" src="~/imag/Mains.jpg" width="1300" height="650" class="ImagePhon">

        </div>
    </div>
    <div class="wrap">
        <div class="settings__header">
            <div class="settings__header__text">Наши услуги</div>
        </div>
        <div class="settings-body-items">
            <div class="settings-body-items-left">
                <label name="hell" />
                <a class="button-settings">Нанесение винила</a>
                <img src="~/imag/Nakleika.jpg" width="600" height="450" class="ImagePhon">
                <a class="button-settings">Нанесение винила на любой автомобиль <br>Нанесение происходит<br>в несколько этапов: <br>-Мойка поверхности<br>-Обезжирование поверхности<br>-Нанесение на поверхность</a>
            </div>
            <div class="settings-body-items-left">
                <a class="button-settings">Подбор и установка дисков</a>
                <img src="~/imag/Diski.png" width="600" height="450" class="ImagePhon">
                <a class="button-settings">Подбор дисков под ваш авто<br>с последющей установкой на<br>ваш автомобиль</a>
            </div>
        </div>
        <div class="settings-body-items">
            <div class="settings-body-items-right">
                <a class="button-settings">Ремонт и улучшение технических<br>характеристик автомобиля</a>
                <img src="~/imag/TuningDvigatel.jpg" width="600" height="450" class="ImagePhon">
                <a class="button-settings">Мы создаем, а так же улучшаем<br>бензиновые двигатели на заказ</a>
            </div>
            <div class="settings-body-items-right">
                <a class="button-settings">Нанесение керамического покрытия</a>
                <img src="~/imag/Keramika.jpg" width="600" height="450" class="ImagePhon">
                <a class="button-settings">Нанесение керамического покрытия<br>на ваш автомобиль</a>
            </div>
        </div>

    </div>

    
</body>
